.Row{
    /* height: 50px; */
    /* width: 500px; */
    /* display: flex; */
    /* /* height: auto; */
    /* width: auto; */ 
    /* height: 10pt;
    width: 10pt; */
    /* width: fit-content;
    height: fit-content; */
/* justify-content: space-evenly; */
/* height: 10px;

border: 1px black solid; */
}

.cellClass{
/* width: 50px; */
/* width: auto;
height: auto; */
/* border: 1px black solid; */
height: 10px;
width: 10px;
}
.class0{
background-color:white;    
}

.class1{
    background-color:black;    
}
    
.class2{
    background-color:red;    
}